[submodule "TDpretext"]
	path = TDpretext
	url = https://github.com/GuiGPaP/TDpretext.git
[submodule "TDDocker"]
	path = TDDocker
	url = https://github.com/GuiGPaP/TDDocker.git
[submodule "SMTC"]
	path = SMTC
	url = https://github.com/GuiGPaP/SMTC.git
